*{
  box-sizing:border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*::-moz-selection{
  color:unset;
  background:unset;
}
*::selection{
  color:unset;
  background:unset;
}
body{
  font-size:16px;
  background:#555;
}
#layout{
  display: flex;
  width:100vw;
}
#canvas {
  height:90vh;
  margin:0;
}
#sidebar {
  position:fixed;
  overflow: hidden;
  right:0;
  height:100vh;
  width: 12rem;
  display: flex;
  flex-direction: column;
  height:100vh;
  color:#eee;
  background:#222;
}

#sidebar>span{
  display: inline-block;
  line-height:10vh;
  cursor:default;
  font-weight:bold;
  transition:all 0.2s ease;
}
#sidebar>span:not(#window-controls){
  padding: 0 2rem;
}
#sidebar>.title{
  border-bottom: 1px solid rgb(62,175,255);
  -webkit-app-region: drag;
}
#sidebar>.label{
  border-right: 5px solid rgb(62,175,255);
  box-shadow:0 4px 19px black;
  -webkit-app-region: drag;
}
#sidebar .button{
  transition: all 0.2s ease;
}
#sidebar .button>i.fa,
#sidebar .label>i.fa{
  padding-right: 0.5em;
}
#sidebar .button:hover{
  background-color:rgb(62,175,255);
}

#window-controls{
  font-size:0;
}

#window-controls>.button{
  font-size:1rem;
  text-align: center;
}
