*{
  box-sizing:border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*::-moz-selection{
  color:unset;
  background:unset;
}
*::selection{
  color:unset;
  background:unset;
}
body{
  font-size:16px;
  font-family:sans-serif;
  background:#1a1a1a;
}
#layout{
  display: flex;
  width:100vw;
  height: 100vh;
}
#simulation-area{
  height:100vh;
  width:auto;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
}
#canvas {
  height:100%;
  margin:0;
}
#sidebar {
  overflow: hidden;
  height:100vh;
  width: 12rem;
  display: flex;
  flex-direction: column;
  color:#eee;
  background:#222;
}

#sidebar>span{
  display: inline-block;
  line-height:10vh;
  cursor:default;
  font-weight:bold;
  transition:all 0.2s ease;
}
#sidebar>span:not(.inline-control-group){
  padding: 0 2rem;
}
#sidebar>.title{
  border-right: 5px solid rgb(62,175,255);
  box-shadow: 0 2px 7px black;
  margin-bottom: 2rem;
  -webkit-app-region: drag;
}
#sidebar>span.label{
  padding: 0.3rem 0.5rem;
  font-size:0.8rem;
  line-height: 1.8rem;
  color:rgb(150,150,150);
  -webkit-app-region: drag;
}
#sidebar .button{
  transition: all 0.2s ease;
}
#sidebar .button i.fa,
#sidebar .label>i.fa{
  padding:0.5em;
}
#sidebar .button:hover{
  background-color:rgb(62,175,255);
}
#sidebar .button#close:hover{
  background-color:rgb(236,47,67);
}
.inline-control-group{
  font-size:0;
  padding:0;
}
.inline-control-group.small {
  height:3rem;
}
.inline-control-group.small .button{
  line-height:3rem;
  height:3rem;
}

.inline-control-group .button{
  font-size:1rem;
  text-align: center;
}

.inline-control-group input[type="radio"]{
  display:none;
}
.inline-control-group input[type="radio"]:checked+label{
  background-color:rgb(62,175,255);
  box-shadow: 0 0 2px rgb(62,175,255);
}
